@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  background-color: #020620;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-family: Calibri, 'Segoe UI', sans-serif;
}